<div class="row">
  <div class="col">
    
    <div class="row mb-5">
        <div class="col">
            <h4>Champion</h4>
        </div>
        <div class="col">
            {% include "partials/champ-selector-dropdown.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Matchups</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include "partials/champ-selector-dropdown.html" %}
        </div>
        <div class="col">
            <select class="browser-default custom-select">
              <option selected>Difficulty<option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
        </div>
        <div class="col">
            <textarea class="w-100"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn-primary">+</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="border border-secondary my-2"></div>
        </div>
    </div>

  </div>
</div>
