<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Select the roles you can play for the team">
  <title>Champ Selection</title>

  <!-- Bootstrap core CSS -->
  {% include 'default-includes.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <main role="main">
    <!-- day | Game Nr | Role | played | against | side | result 
             | day time | duoque? | kda | notes -->
    
  </main>
</body>