<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  {% include 'partials/header.html' %}

  <script src="/static/contact.js"></script>

</head>

<body class="bg-secondary">
    {% include 'partials/navbar.html' %}
 	<div class="container mt-5 mb-5">
		<div class="row impressum mt-5">
		  <div class="col text-min-dimensions">
                	<h2>Nemesis</h2>
                	<h4>Coach</h4>
                	<p>
                	Nemesis is bad Nemesis is bad
                	Nemesis is bad Nemesis is bad
                	Nemesis is bad Nemesis is bad
                	Nemesis is bad Nemesis is bad
                	Nemesis is bad Nemesis is bad
                	Nemesis is bad Nemesis is bad
                	</p>
		  </div>
		<div class="col image-min-dimensions">
            <img class="img-responsive w-100 image-max-dimensions" src="https://esports-erlangen.de/picture/nemesis_euw.jpg?scalex=1280&scaley=960"></img>
            	</div>
		</div>
	</div>
	{% include "partials/footer.html" %}
</body>
</html>
