<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Leauge of Legends Coaching">
  <title>Nemesis Coaching</title>
  {% include 'partials/header.html' %}
</head>

<body>

  {% include 'partials/navbar.html' %}
  <div class="navbar navbar-default"></div>
  <div class="container mt-5">
      <div class="row impressum">
		<div class="col-lg-12">
        <h1>Impressum</h1>
		<h4><b>{{ config["company-name"] }}</b></h4>
		</div>
		<div class="col-lg-6">
			<p>Adresse<br/>{{ config["company-street"] }}<br/>{{ config["company-postal"] }}</p>
			<p>Telefon<br/>{{ config["company-phone"] }}</p>
		</div>	
		<div class="col-lg-6">	
			<p>E-Mail<br/><a href="mailto:{{ config["company-mail"] }}">{{ config["company-mail"] }}</a></p>
			<p>Verantwortlicher<br/>{{ config["company-responsible"] }}</p>
			{{ config["company-freetext"] }}
		</div>
		<div class="col-lg-12">
			Other Legal BS
		</div>
	  </div>
  	    <div class=mt-5></div>
	  	<h1>Haftung für Inhalte</h1>
		<p>
			Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
		</p>
		<h1>Haftung für Links</h1>
		<p>
			Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
		</p>

		<h1>Datenschutz</h1>
		<p>
			Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
		</p>
		<h1>Externe Inhalte</h1>
		<p>
    	Externe Inhalte erforden eine Zustimmung des Nutzers, sollte der Nutzer der Einbindung
    	dieser Inhalte zustimmen, ist er sich bewusst, dass für diese Inhalte die
    	Datenschutzbestimmungen des jeweiligen Drittanbieters gelten.
		</p>
    </div>

	<div class=pb-5></div>
	<div class=pb-5></div>

	{% include 'partials/footer.html' %}
</html>