<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Leauge of Legends Coaching">
	<title>Nemesis Coaching</title>

	<!-- Bootstrap core CSS -->
	{% include 'partials/header.html' %}

</head>

<body>
	{% include 'partials/navbar.html' %}
  <div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your contact request has been send!</strong> We will answer you as soon as possible.</p>
    <hr>
    <p>
      Still having trouble? <a href="/contact">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Return to Homepage</a>
    </p>
  </div>
  {% include 'partials/footer.html' %}
</body>

</html>